<%=link_to 'Ручное копирование входящих писем', new_account_path, class: "btn btn-default"%>
<%=link_to 'Журнал', journal_letters_path, class: "btn btn-default"%>
<h1>Список писем</h1>
<%=render 'searchPanel'%>
<%=render 'table'%>
